#logo{
  margin-left: 3em;
}

#login-button{
  margin-right: 3em;
}


html {
  scroll-padding-top: 3.5rem;
}

header {
  height: 15em;
  padding-top: 5.5rem;
  padding-bottom: 6rem;
  background-color: #1f3438 !important;
}

section {
  margin-top: 3em;
}

.button-margenes{
  color: white !important;
  margin-top: 1em;
  margin-bottom: -2em;
}
