#logo{
  margin-left: 3em;
}

#login-button{
  margin-right: 3em;
}


html {
  scroll-padding-top: 3.5rem;
}

header {
  height: 15em;
  padding-top: 5.5rem;
  padding-bottom: 6rem;
}

section {
  margin-top: 3em;
}

